* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle, #f9dab8, #f4c48f);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Calculator body */
.calculator {
  width: 260px;
  background: #eee9e4;
  border-radius: 28px;
  padding: 18px;
  box-shadow: 0 25px 40px rgba(0,0,0,0.25);
}

/* Top strips */
.strips {
  display: flex;
  gap: 3px;
  margin-bottom: 0px;
  
}
.strips span {
  width: 6px;
  height: 50px;
  border-radius: 0px;
}
.red { background: #e15b5b; }
.yellow { background: #f2c94c; }
.blue { background: #2f80ed; }


.display {
  background: #cfd4b8;
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 12px;
  border: 6px solid #2e2e2e;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.35),
              0 2px 0 rgba(255,255,255,0.6);
}

.result {
  font-size: 32px;
  font-weight: bold;
  text-align: right;
}
.expression {
  font-size: 12px;
  text-align: right;
  color: #555;
}

/* Top controls */
.top-controls {
  display: flex;
  justify-content: flex-end; /* move buttons to right */
  gap: 6px;                  /* smaller gap */
  margin-bottom: 15px;
}

.top-controls button {
  flex: 0 0 auto;            /* prevent stretching */
  background: #333;
  color: white;
  border: none;
  padding: 5px 10px;         /* smaller size */
  font-size: 12px;
  border-radius: 4px;
  box-shadow: 0 3px #111;
  cursor: pointer;
}

/* Buttons grid */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color:  rgb(215, 214, 214);
  padding: 10px;
  border-radius: 10px;
}

button {
  background: #faf8f5;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 5px #d1ccc7;
  cursor: pointer;
  color: rgb(155, 71, 3);
}

button:active {
  transform: translateY(3px);
  box-shadow: 0 2px #d1ccc7;
}

.c {
 background: rgb(247, 125, 32);
 box-shadow: 0 5px #dc6b02;
 color: white;
 
}

.orange {
  background: #f2a65a;
  color: white;
  box-shadow: 0 5px #d18b48;
}

/* Equals */
.equals {
  background: #8d8aa1;
  color: white;
  box-shadow: 0 5px #6f6c83;
}

/* Wide zero */
.wide {
  grid-column: span 2;
}





